table 
{
	background-color: #ffffcc;
	border-spacing: 0px;
	border-width: 0px;
	border-style: outset;
	margin: 10px;
}

table.subtable
{
	width: 20em;	
}

a.my_link {
	font-weight: bold;
        font-size: 11pt;
        text-decoration:none;
        color:#436EEE ;
}

a.header_link{
	padding: 0px 20px;
	font-weight: bold;
        font-size: 12pt;
        text-decoration:none;
        color:#FF0000;	
}

a.header_link_black{
        padding: 0px 20px;
        font-weight: bold;
        font-size: 12pt;
        text-decoration:none;
        color:#000000;
}

input
{
	cursor: pointer;
}

input.commit
{
	font: bold 84%'trebuchet ms',helvetica,sans-serif;
	color: #FF0000; 
	font-size: 20px;
	font-style: italic;
	text-align: center;
}

td 
{
	font-family: arial;
	font-size: 10pt;
        color: #006699;
	border-width: 1px;
	border-style: inset;
	border-color: gray;
	padding: 0 10;
}

td.empty
{
        text-align: center;
        background-color: white;
}


td.attribute
{
        text-align: center;  
}

td.columnchild_checked
{
	background-color: #00f900;
        text-align: center;  
}

td.columnchild_unchecked
{
	background-color: #ffffcc;
        text-align: center;  
}

td.value
{
	text-align: left;
}

td.title 
{
	background-color: #FA5858; 
	text-align: center;
}


td.subtitle
{
        background-color: #C5ECFA;
	text-align: center;  
}

td.doubletable_item
{
	background-color: #ffb875;
	text-align: left  ;  
}

td.input 
{
        width: 99%;
}      

td.buttoncell 
{
	text-align: center;
	cursor: pointer;
}

td.tag
{
	background-color: #ffb875;
}

td.subelement_attribute{
	text-align: center;
	background-color: #C5ECFA;       
}

td.change{
	background-color: #FFB600;
}

td.dependence{
	text-align: center;
	background-color: #00f900;
}

td.separator{
	background-color: gray;
	padding: 0px;
}


h1 
{
	font-family: arial; 
	color: #CCCCCC; 
	font-size: 30px;
}


h2 {
	font-family: arial; 
	color: #CCCCCC;
}

a.link_to_top
{
	font-size: 15px;
	margin-left: 30px;
	text-decoration: none;
}

a.toggle
{
	margin-left: 10px;
	text-decoration: none;
}

font.slot_title
{
	margin-left: 20px;
}

font.slot_section
{
	margin-left: 10px;	
	color: #0000FF;
}

div.slot_content
{
	margin-left: 30px;
	padding: 10px;	
}

img.delete_slot
{
	cursor: pointer;
	margin-left: 30px;
}
